body {
    display: flex;
    justify-content: center;
}

.form {
    max-width: 70%;
    background-color: FFFFFF;
    border-radius: 20px;
    padding: 70px 94px;
    margin: 0px 30px;
    border: 1px solid rgba(128, 128, 128, 0.541);
    box-shadow: 8px 8px 10px #40DE63 ;
}

.input {
    display: block;
    background-color: #F5F5F5;
    width: 100%;
    border: none; 
    font-size: 24px;
    padding: 8px 12px;
    margin-bottom: 8px;
}

.botao {
    background-color: #40DE63;
    border-radius: 10px;
    border: none;
    width: 70px;
    padding: 5px;
    margin: 5px;
}

.botao:hover {
    background-color: #02b82a;
    border-radius: 10px;
    border: none;
    width: 75px;
    padding: 5px;
    cursor: pointer;
}

#titulo {
    display: flex;
    justify-content: center;
    color: #40DE63;
}

.tituloEsquerdo {
    max-width: 210px;
}

.ladoEsquerdo {
    margin: 35px 30px;
}

.ladoEsquerdo a {
    text-decoration: none;
    color: #02b82a;
}

.ladoEsquerdo img {
   max-width:150px;

}