<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <title>Login</title>
</head>
<body>
    <div class="ladoEsquerdo">
        <h2 class="tituloEsquerdo">Faça seu login  Para acessar suas informações</h2>
        <p class="tituloEsquerdo">Se você não tem conta você pode fazer <a href="cadastroUsuario">aqui seu registro!</a></p>
    </div>
    <div class="form">
        <div id="titulo">
            <h3 class="titulo">Faça seu login</h3>
        </div>
        <form action="">

            <label for="Login">Login</label>
            <input class="input" type="text" id="login" name="login">
            
            <label for="senha">Senha</label>
            <input class="input" type="password" id="senha" name="senha">
    
            <input class="botao" type="submit" value="login">
            <input routerLink="" class="botao" type="button" value="cancelar">
    
        </form>
    </div>
</body>
</html>
