<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <div class="titulo">
        <h1>Faça suas anotações</h1>
    </div>
    <div class="titulo">
        <h3>Faça seu cadastro ou login para conseguir acessar o nosso site!</h3>
    </div>
    <div class="titulo">
        <div class="modelos">
            <div class="modelo" id="naoIniciado">
                não iniciado 
            </div>
            <div class="modelo" id="emAndamento">
                em andamento
            </div>
            <div class="modelo" id="finalizado">
                finalizado
            </div>
        </div>
    </div>
</body>
</html>
