body {
    display: flex;
    justify-content: center;
}

.titulo, .modelos {
    display: flex;
    justify-content: center;
}

.modelos > .modelo {
    margin: 10px;
    padding: 10px;
}

#naoIniciado {
   border: 1px solid red;
   color: red;
}

#emAndamento {
    border: 1px solid orange;
    color: orange;
}

#finalizado {
    border: 1px solid green;
    color: green;
}

.main {
    padding: 20px;   
    border-radius: 20px;
    box-shadow: 
        5px 5px 10px green,
        -5px -5px 10px red,
        0px 0px 30px orange;
}
