.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.botoes {
    display: flex;
    justify-content: center;
}

.botao {
    width: 90px;
    height: 30px;
    margin: 10px;
    background-color: #40DE63;
    border-radius: 10px;
    border: none;
}

.botao:hover {
    width: 95px;
    height: 30px;
    margin: 10px;
    background-color: #02b82a;
    border-radius: 10px;
    border: none;
    cursor:pointer;
}

