<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cabecalho.component.css">
    <title>Cabecalho</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>AQUI FICA A LOGO</h1>
        </div>
        <div class="botoes">
            <button routerLink="loginUsuario" class="botao">LOGIN</button>
            <button routerLink="cadastroUsuario" class="botao">CADASTRO</button>
        </div>
    </div>
</body>
</html>
