<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastro.component.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="form">
        <div id="titulo">
            <h3 class="titulo">Faça seu Cadastro</h3>
        </div>
        <form action="">

            <label for="Login">Login</label>
            <input class="input" type="text" id="login" name="login">

            <label for="email">email</label>
            <input class="input" type="email" id="email" name="email">
            
            <label for="senha">Senha</label>
            <input class="input" type="password" id="senha" name="senha">
    
            <input class="botao" type="submit" value="cadastrar">
            <input routerLink="" class="botao" type="button" value="cancelar">
    
        </form>
    </div>
</body>
</html>
